
.navbar {
  position: fixed !important;
  top: 0;
  left: 0; 
  right: 0;
  z-index: 1;
  height: 75px;
}

.container-fluid a {
  margin-top: 10px;
}

.container-fluid form {
  margin-top: 20px;
}

.container-fluid a img {
  margin-top: -20px;
}


.bg-navbar {
  background-color: #2a7d8d;
}

nav .navbar-nav  a {
  color: #D7F9F1 !important;
  font-size: 1.25em;
  }
.bg-custom-button {
    background-color: #AFBC88 !important;
    color: #D7F9F1 !important; 
    border-color: #D7F9F1 !important;
}

.btn-primary:hover,
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #AFBC88;
  border-color: #D7F9F1; /*set the color you want here*/
}



.navbar-light .navbar-toggler {}


.navbar-collapse  {
  text-align: center;
  background-color: green;
}