.bottomMainMargin {
  margin-bottom: 150px;
}
.container {
  margin-top: 75px;
  height:800px;
}

.imageContainer {
  margin: 0 auto;
  width: 1200px;
  /*  */
}

main{
  margin-top: 100px;
}

 main {
    /* : #c3c4d6; */
   color: #2a7d8d;
   background-color: #1768AC;
   background-color: #03256C;
   background-color: #2541B2;
   background-color: #06BEE1;
 }